In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [49]:
#csv_file = open("C://Users//Administrator//botswana-chapter-traffic-accidents//src//data//tabula-Transport & Infrastructure Statistics Report 2019.csv", 'r', encoding='utf-8')

# Loop the data lines
with open("C://Users//Administrator//botswana-chapter-traffic-accidents//src//data//tabula-Transport & Infrastructure Statistics Report 2019.csv", 'r') as f:
    col_count = [ len(l.split(",")) for l in f.readlines() ]

column_names = [i for i in range(0, max(col_count))]

df = pd.read_csv("C://Users//Administrator//botswana-chapter-traffic-accidents//src//data//tabula-Transport & Infrastructure Statistics Report 2019.csv", header=None,  delimiter=',', names=column_names)

In [50]:
df.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
1481,26-30,20.4,17.6,17.2,17.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,31-35,19.1,19.3,19.8,19.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,36-40,17.9,19.6,17.5,17.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,41-45,8.0,11.9,12.0,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1485,46-50,7.4,8.2,7.0,7.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1486,51-55,5.6,5.4,5.1,5.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1487,56-60,4.3,3.4,3.4,3.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488,61-65,1.9,2.3,1.8,1.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1489,66-70,0.6,0.6,0.7,0.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1490,71-75,2.5,-,0.4,0.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN