In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Specify the path to the ChromeDriver executable
chrome_driver_path = 'C:/Users/ditiro/Downloads/chromedriver_win32/chromedriver.exe'

# Create a Service object
service = Service(chrome_driver_path)

# Start the WebDriver with the Service object
driver = webdriver.Chrome(service=service)

In [3]:
driver.get("https://www.statsbots.org.bw/motor-vehicle-accident-trend-transport-sector")
driver.implicitly_wait(15)

In [4]:
data = driver.find_elements(By.XPATH, "//*[name()='svg']//*[name()='g' and contains(@class, 'highcharts-data-labels highcharts-series-0')]")

In [5]:
data

In [6]:
for element in data:
    print(element.text)

17 527
17 062
16 641
17 654
18 373
17 786
17 341
18 623
15 075
17 277

In [7]:


years = driver.find_elements(By.XPATH, "//*[name()='svg']//*[name()='g' and contains(@class, 'highcharts-axis-labels highcharts-xaxis-labels')]")

In [8]:
for element in years:
    print(element.text)

2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

In [9]:
year_stats = []
for p in range(len(data)):
    year_stats.append(data[p].text)

In [10]:
year_stats

['17 527\n17 062\n16 641\n17 654\n18 373\n17 786\n17 341\n18 623\n15 075\n17 277']

In [11]:
year = []
for p in range(len(years)):
    year.append(years[p].text)

In [12]:
year

['2012\n2013\n2014\n2015\n2016\n2017\n2018\n2019\n2020\n2021']

In [13]:
year_stats = year_stats[0].split('\n')
year = year[0].split('\n')

In [14]:
df = {'year':year, 'num_of_accidents': year_stats}

In [28]:
import pandas as pd
import os
df = pd.DataFrame(df)

In [16]:
df

   year num_of_accidents
0  2012           17 527
1  2013           17 062
2  2014           16 641
3  2015           17 654
4  2016           18 373
5  2017           17 786
6  2018           17 341
7  2019           18 623
8  2020           15 075
9  2021           17 277

In [29]:

df.to_csv("../../src/data/sumStats.csv")